.mt-5, .my-5 {
    margin-top: 5rem!important;
}

.ml-5, .mx-5 {
    margin-left: 8rem!important;
}

.mr-5, .mx-5 {
    margin-right: 8rem!important;
}

.form-upload {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.load{
    position: fixed;
    top: 70%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.upload-main {
    border-radius: 25px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jd-col {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.upload-col {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.loading-text{
    position: fixed;
    top: 60%;
    left: 50%;
    text-align: center;
    color: #071c34;
}

@media only screen and (max-width: 650px) {
    .jd-col {
        border-radius: 0;
    }
    .upload-col {
        border-radius: 0;
    }
    .upload-main {
        border-radius: 0;
    }
}