.mt-5, .my-5 {
    margin-top: 5rem!important;
}

.ml-5, .mx-5 {
    margin-left: 8rem!important;
}

.mr-5, .mx-5 {
    margin-right: 8rem!important;
}

.load{
    position: fixed;
      top: 70%;
      left: 50%;
      margin-top: -50px;
      margin-left: -100px;
    }