.mt-5, .my-5 {
    margin-top: 5rem!important;
}

.ml-5, .mx-5 {
    margin-left: 8rem!important;
}

.mr-5, .mx-5 {
    margin-right: 8rem!important;
}

.form-upload {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.load{
    position: fixed;
    top: 70%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.upload-main {
    border-radius: 25px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jd-col {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}

.upload-col {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.loading-text{
    position: fixed;
    top: 60%;
    left: 50%;
    text-align: center;
    color: #071c34;
}

.apply-nav{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 40px;
    min-height: 80px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    align-items: center;
}

.apply-logo{
    width:27%;
    padding:1rem;
}

@media only screen and (max-width: 650px) {
    .jd-col {
        border-radius: 0;
    }
    .upload-col {
        border-radius: 0;
    }
    .upload-main {
        border-radius: 0;
    }
}