/* .footer {
    background-color: black;
      color: cornsilk;
      font-size: 20px;
      margin: 1rem;
    padding: 1rem;

}

.bottom-text{
    text-align: center;
} */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
