/* CARD LAYOUTS */

.card {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: auto;
  /* margin-left: 11%; */
  /* margin-right: 16%; */
  padding: 9px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 30%);
}

.card .course-name-div {
  display: flex;
  margin: 7px;
  width: 220px;
  flex-wrap: wrap;
}

.card .course-name-div button {
  background-color: #ff6738;
  color: white;
  border: none;
  margin-right: 5px;
  padding: 3px;
}

.card .cart-div {
  display: flex;
  width: 53px;
  height: 58px;
  background-color: #ccc;
  margin: 7px;
}

.card .cart-course-name-div {
  display: flex;
  margin: 7px;
  width: 266px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.card .cart-course-price {
  margin-right: 5px;
  /* padding: 3px; */
  display: flex;
  justify-content: flex-end;
}

.card .course-author {
  display: block;
  justify-content: center;
  margin: 15px;
  width: 88px;
}

.card .course-price {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-right: 36px;
  justify-content: space-around;
  width: 161px;
}

.card .course-price p {
  padding: 5px;
}

.card .course-add {
  display: flex;
  justify-content: center;
  margin: 6px;
  flex-direction: column;
  /* width: 138px; */
  /* height: 52px; */
  /* padding: 9px; */
}

.card .course-add button {
  background-color: #ff6738;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 116px;
  height: 40px;
  padding: 7px;
}
