/* Styling for NavDashboard*/

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 40px;
    min-height: 80px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
  }
  .logo-image {
    height: 4rem;
  }
  a, .navbar-nav .nav-link {
    color: #000000;
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color:  #AE4DFF;
}
  a, .navbar-nav .nav-link:hover {
    color: #AE4DFF;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, 
  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #000000;
    border-bottom: 3px solid #AE4DFF;
  }
  
  #home-link :hover {
    color: #000000;
    border-bottom: 3px solid #AE4DFF;
  }
  
  #home-link {
    color: rgba(0,0,0,.5);
    border-bottom: none;
  }
  
  .navbar-nav {
  font-size: 1.3rem;
  padding-right: 2rem;
  }
  
  .nav-link {
  padding: 0.5rem 2.5rem;
  }
  
  .brand-border {
  border-bottom: none;
  }
  .brand-border:hover {
  border-bottom: none;
  }
  
  .navbar-light .navbar-toggler {
    color: white;
    border-color: white;
  }