.main-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
/* .navbar {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 40px;
  min-height: 80px;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}
.logo-image {
  height: 4rem;
}
a, .navbar-nav .nav-link {
  color: #000000;
}

a, .navbar-nav .nav-link:hover {
  color: #AE4DFF;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #000000;
  border-bottom: 3px solid #AE4DFF;
}

#home-link :hover {
  color: #000000;
  border-bottom: 3px solid #AE4DFF;
}

#home-link {
  color: rgba(0,0,0,.5);
  border-bottom: none;
}

.navbar-nav {
font-size: 1.3rem;
padding-right: 2rem;
}

.nav-link {
padding: 0.5rem 2.5rem;
}

.brand-border {
border-bottom: none;
}
.brand-border:hover {
border-bottom: none;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
} */

.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 25%;
  padding: 10px;
  grid-column-gap: 10px;
  left: 0px;
  right: 0px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#sidebar-logo {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

#sidebar-logo.active {
  background-image: none;
  color: white;
}
#sidebar-logo:hover:not(.active) {
  background-image: none;
  color: white;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  color: white;
}

.content {
  background-color: #D8BFFF;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8rem;
}

/* .header-division {
  position: fixed;
  width: 100%;
  z-index: 1;
} */

.display-applicant {
  font-weight: bold;
  color: darkslategray;
}
div.content {
  padding: 1px 16px;
}
/* .heading-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
  color: white;
} */

@media screen and (max-width: 1100px) {
  #side {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  #side {
    text-align: center;
    float: none;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.search {
  flex: 1;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  padding: 10px;
}
.search:before {
  content: "";
  background-color: #ffffff;
}
.search-input {
  flex: 1;
  background-color: #ffffff;
  border: 0px;
  background-image: url("../assets/search.jpeg");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.filter {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2%;
}

.dashboard-row {
  position: relative;
  width: 100%;
}

.dashboard-filters {
  display: flex;
  justify-content: space-between;
}

.filter-row {
  align-items: center;
  margin-left: 4%;
  margin-right: 4%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  background-image: none;
}
.select {
  position: relative;
  display: block;
  width: 10em;
  height: 3em;
  line-height: 3;
  background: #343a40;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #23272b;
  pointer-events: none;
}
.select:hover::after {
  color: white;
}

.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.logo-dashboard {
  height: 5rem;
  width: 12rem;
  margin-top: 1rem;
}

/* .icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* .welcome-content {
  font-weight: bold;
  margin-left: 1rem;
  color: whitesmoke;
} */

.filter-hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0,0,0,.1);
  width: 80%;
  margin-left: 9%;
  margin-right: 9%;
}