.main-dashboard {
  background-color: #f9f9fb;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #222222;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-head {
  background-color: #33cabb;
  margin: 15px;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
}

.sidebar a {
  display: block;
  color: #bbb;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #555;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.display-applicant {
  margin-top: 2rem;
  margin-left: 6.5%;
}
div.content {
  margin-left: 220px;
  padding: 1px 16px;
}
.heading-style {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.search {
  flex: 1;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  padding: 10px;
}
.search:before {
  content: "";
  width: 30px;
  background-color: #ffffff;
}
.search-input {
  flex: 1;
  background-color: #ffffff;
  border: 0px;
  background-image: url("../assets/search.jpeg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.filter {
  padding-left: 30px;
  padding-right: 40px;
}

.dashboard-row {
  position: relative;
  width: 100%;
}

.dashboard-filters {
  display: flex;
  justify-content: space-between;
}

.filter-row {
  align-items: center;
  margin: 2% 3% 2% 2.5%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  background-image: none;
  border: 1px solid black;
}
.select {
  position: relative;
  display: block;
  width: 10em;
  height: 3em;
  line-height: 3;
  background: #007bff;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #007bff;
  pointer-events: none;
}
.select:hover::after {
  color: white;
}

.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
