.main-dashboard {
    margin-top: 3.5rem;
    background-color: #f3f8fb;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #222222;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #bbb;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #555;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

.search{
    flex:1;
    margin-right: 30px;
    display:flex;
}
.search:before{
    content:'';
    width:30px;
    background-color: #FFFFFF;
}
.search-input {
    flex:1;
    background-color: #FFFFFF;
    border: 0px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  