.Carousel-caption {
    top: 20%;
    bottom: auto;
    height: 60%;
}

.caption-row {
    position: relative;
    height: 100%;
    width: 100%;
}

.discover1 {
    background-color: rgb(122, 74, 185);
}

.discover2 {
    background-color:coral;
}

.discover3 {
    background-color: seagreen;
}

.heading{
    text-align: center;
    font-weight: bold;
}

.sub-heading1{
    position: relative;
    height: 10%;
    color: rgb(122, 74, 185);
    font-size: 1rem;
    font-weight: bold;
}

.sub-heading2{
    position: relative;
    height: 10%;
    color: coral;
    font-size: 1rem;
    font-weight: bold;
}

.sub-heading3{
    position: relative;
    height: 10%;
    color: seagreen;
    font-size: 1rem;
    font-weight: bold;
}

.sub-discover{
    text-align: left;
    height: 100%;
}

.content1{
    position: relative;
    height: 40%;
    color: black;
}

.content2{
    position: relative;
    height: 50%;
    color: grey;
}

.about{
    font-size: 1rem;
    font-weight: bold;
}

.icon{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.main-content{
background-color: #f2f2f2;
width: 100%;
margin-left: 0;
}

.about {
    text-align: justify;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .discover1, .discover2, .discover3 {
        display: none;
    }

    .about {
        text-align: center;
    }
}