
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: #F0F4F7;
    border-radius: 40px 15px 40px 15px;
}

.col-container-1 {
    border-top: 4px inset #AE4DFF;
    border-left: 4px inset #AE4DFF;
    border-bottom: 4px inset #AE4DFF;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 15px;
}

.col-container-2 {
    border-top: 4px inset #AE4DFF;
    border-right: 4px inset #AE4DFF;
    border-bottom: 4px inset #AE4DFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 40px;
}


@media only screen and (max-width: 650px) {
    .col-container-1 {
        border: none;
        border-radius: 0;
    }
    
    .col-container-2 {
        border: none;
        border-radius: 0;
    }
    .login-container {
        background-color: #F0F4F7;
        border-radius: 0;
    }
    .heading {
        padding-top: 2rem;
    }
}