.price{
    margin-top:5%;
}

.price-head{
    margin-top:8%;
    text-align: center;
    margin-bottom: 5%;
}

.price-text{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.card-head{
    text-align: center;
    color:#007bff;;
    font-size: 2rem;
    font-weight: bolder;
}

.card-title{
    text-align: center;
    color: grey;
}

.card-text{
    margin-top: 10%;
    text-align: center;
    font-size: 1rem;
}

.amt{
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 10%;
    
}

.feat{
    font-size: 20px;
    font-style: oblique;
<<<<<<< HEAD
}




=======
}
>>>>>>> b210bb7003e33b59c55613b05d3e2106e04955fc
